<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Rock-Paper-Scissors</title>
  </head>

  <nav>
    <li><a href="/welcome">Welcome</a></li>
    <li><a href="/play">Game</a></li>
  </nav>

  <body>
    <%= yield %>
  </body>

</html>
