<h1>Welcome</h1>

<p>Go ahead, pick your weapon :-) and see who's gonna win</p>

<h2>How to play</h2>

<p>Go to Game page. In the search bar, after the word play type in your two choices
  from scissors, rock and paper like that: play/rock/paper and hit enter</p>
